nav {
  background: black;
  color: white;
  padding: 15px;
  margin: 0;
}

nav .brand {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
}

nav a {
  background: #F70A7C;
  color: white;
  float: right;
  border-radius: 10px;
  padding: 3px 17px;
}

.content {
  min-height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 100px;
}

li {
  display: inline-block;
  width: 27%;
  border: 5px solid #FFCC00;
  padding: 20px;
  font-size: 1rem;
  vertical-align: top;
  margin: 10px 1%;
  text-align: center;
  white-space: nowrap;
}

ul {
  margin: 20px 0;
}

ul:after {
  clear: both;
}

.col-md {
  text-align: center;
}

h2 {
    color: #F70A7C;
    text-align: left; 
     font-family: "Open Sans"; 
     font-size: 31px;
     font-style: normal; 
     font-variant: normal; 
     font-weight: 700; 
}

h3 {
     text-align: left; 
     font-family: "Open Sans"; 
     font-size: 23pt; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: 700; 
}

h4 {
    text-align: left; 
    font-family: "Open Sans"; 
    font-size: 23pt; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
}

.col {
    position: relative;
}


p{
  font-family: "Open Sans"; 
  font-size: 1.17rem;
  font-weight: 400;
  line-height: 2;
}

footer .text-center {
  font-weight: bold;
  font-size: 1.2em;
}